<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Character Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/yorha.css')}}">
    <style>
        body {
            text-align: center;
            width: 95%;
            max-width: 700px;
            padding: 20px;
            box-shadow: 0px 0px 10px 0px lightblue;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <h1>Real-Time Character Prediction</h1>
    <img src="{{ url_for('video_feed') }}" alt="Video Feed">
</body>
</html>
