<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/yorha.css')}}">
    <title>yorha</title>
</head>

<body>
    <a href="info">
        <h1>Hello World!</h1>
        <img src="{{url_for('static',filename='images/nier.webp')}}" width="100%" height="100%">
    </a>
    <hr>
    <a href="go">go to /info</a><br>
    <video class="video"
        src="https://blz-contentstack-assets.akamaized.net/v3/assets/blt2477dcaf4ebd440c/blt05a7372f16e29c5d/64b04b35a4648b74e676cb12/Franchise_Awareness_03.mp4"
        muted="muted" loop="loop" playsinline="" autoplay="autoplay" width="100%" height="100%"></video>
</body>

</html>